#signtab .ant-menu-horizontal {
  border-bottom: none;
}
#signtab .ant-tabs-nav {
  float: none;
  text-align: center;
  width: 100%;
  font-size: 18px;
}

/*signin signup*/
#sign-form {
  width: 300px;
}
#sign-form .login-form {
  width: 300px;
}
#sign-form .login-form-forgot {
  float: right;
}
#sign-form .login-form-button {
  width: 100%;
}

.ant-input {
  font-size: 13px;
}
.ant-select-dropdown-menu-item, .ant-select-selection-selected-value, textarea, label {
  font-size: 13px;
}
.ant-select-selection__placeholder, .ant-select-search__field__placeholder {
  font-size: 13px;
}
.App-header-wrap {
    height: 60px;
    display: flex;
    justify-content: center;
}
.App-header-left {
  display: flex;
  align-items: center;
}
.App-header {
  width: 960px;
  display: flex;
  align-items: center;
  font-size: 15px;
  justify-content: space-between;
}
.App-header-menu {
  margin-left: 27px;
  margin-right: 27px;
  margin-top: 2px;
}
.App-header-search {
  width: 326px;
}

.App-content-wrap {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 30px;
}
.App-content {
  width: 960px;
  min-height: 600px;
}
.App-footer-wrap {
  display: flex;
  justify-content: center;
}
.App-footer {
  width: 960px;
}
.App-content-title {
  font-size: 15px;
  font-weight: 700;
}
.filter-box {
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0 0 10px;
  -webkit-transition: all .2s;
  transition: all .2s;
  padding: 10px 20px;
  font-size: 14px;
  margin-top: 10px;
  line-height: 2.5;
}
.filter-list {
  border-top: 1px solid #e9e9e9;
  margin-top: 10px;
  padding: 10px 5px;
  font-size: 14px;
}
.filter-selected {
  font-weight: 700;
  cursor: pointer;
}
.filter-box .ant-calendar-picker-input {
  border-radius: 0px!important;
}
.add-article-bnt {
  margin-top: 2px;
  margin-left: 20px;
}
.meta-item {
  color: #999;
}
.meta-item:hover {
  color: #108ee9;
}
.meta-item-danger:hover {
  color: #f04134;
}

/* search bar css style */
.global-search-wrapper {
  padding-right: 50px;
}

.global-search {
  width: 100%;
}

.global-search.ant-select-auto-complete .ant-select-selection--single {
  margin-right: -46px;
}

.global-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input:not(:last-child) {
  padding-right: 62px;
}

.global-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input-suffix {
  right: 0;
}

.global-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input-suffix button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.global-search-item-count {
  position: absolute;
  right: 16px;
}
.ant-select-lg .ant-select-selection__rendered {
  line-height: 31px;
}
.searchbar-input {
  font-size: 14px;
}
a.toggle-expand, .summary-tail-button {
    display: inline-block;
    padding: 0 3px;
    border-radius: 2px;
    font-size: .9em;
    float: right;
}
.feedbackModal .ant-modal-close {
    right: 6px;
    top: 6px;
}
.feedbackTable th, td {
  font-size: 14px;
}
.ant-modal-close {
  right: 14px;
}
/* homepage filter box*/
#filter_homeplace input::placeholder{
  color: #108ee9;
}
#filter_homeplace .ant-cascader-input {
  border: none;
  box-shadow: none;
  font-size: 14px;
}
#filter_homeplace .ant-cascader-input:focus {
  border: none;
  box-shadow: none;
}
#filter_homeplace .ant-cascader-picker-label {
  font-size: 14px;
}
#articleEditorForm .ant-cascader-picker-label {
  font-size: 14px;
}

/* For demo */
/*.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}*/

/* search bar css style */
.slick-prev:before, .slick-next:before {
    color: #00558B;
}
.ant-modal-close-x {
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: rgb(56, 56, 56);
  background: #fff;
}

.articleDetial .ant-timeline-item-head-custom {
    width: 106px;
    margin-left: -69px;
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
}
.articleDetial .anticon-clock-circle-o {
    padding-right: 10px;
}
.articleDetial .ant-timeline-item-content {
  font-size: 14px;
}
/*.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}*/
/*click*/
.slick-prev:before, .slick-next:before {
    font-size: 40px;
}
.slick-next, .slick-prev {
  z-index: 999;
  width: 40px;
  height: 40px;
}
.slick-next {
  right: 1%;
}
.slick-prev {
  left: 1%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ant-input-search-icon {
  margin-top: 3px;
}
.highlight {
  color: #f44336;
  font-weight: 500;
}